{% extends 'base.html' %}
{% load i18n %}

{% block h1 %}
    {% trans 'Image list' %}
{% endblock %}

{% block content %}

    {% if object_list.exists %}
        {% include 'resizer/includes/add_new_image.html' %}
    {% endif %}

    {% for object in object_list %}
        <p>
            <a href="{% url 'image_detail' object.pk %}">{{ object }}</a>
        </p>
    {% empty %}
        <p>{% trans 'No images available' %}</p>
    {% endfor %}

    {% include 'resizer/includes/add_new_image.html' %}

{% endblock content %}