{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumds %}
    <a href="{% url 'image_list' %}">{% trans 'Back to list' %}</a>
{% endblock breadcrumds %}

{% block h1 %}
    {% trans 'New image' %}
{% endblock %}

{% block content %}
    {% with form.source.image.url as source_image_url %}
        <img src="{{ source_image_url }}" alt="source">
    {% endwith %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button>{% trans 'Send' %}</button>
    </form>
{% endblock content %}